header{text-align: center;}



article{
    text-align: center; 
    margin: 0 25% ;
 }
 article{
    text-align: left;
 }

 #focaccia{
    border-radius: 20px;}


#logodescription{
    background-color: rgba(255, 64, 0, 0.11) ; 
    padding: 10px;
    border-top: 1px solid orange;
    color: rgb(3, 16, 126) ;

} 

#focacciadescription{
    text-align: center; 
    color: gray;
}
h1{text-align: center;}
#FEATURED{
   padding: 0 2% ;
    color: rgba(255, 68, 0, 0.712); 
    border-left: 1px solid rgba(255, 68, 0, 0.555)   ;
}